<div class="home flex w-full h-full  p-4 gap-2 bg-primary-dark overflow-y-auto text-secondary-light">
  <!-- Profile, Favorites Section -->
  <div class="pro-fav flex flex-col p-4 space-y-4 " style="width: 25%;">
    <app-profile></app-profile>
    <app-favplayer></app-favplayer>
    <app-favteam></app-favteam>
  </div>

  <!-- Search and Feed Section -->
  <div class="search-feed flex flex-col " style="width: 50%;">
    <app-search></app-search>
    <app-feed></app-feed>
  </div>

  <!-- Live Score and Trending Section -->
  <div class="live-trending flex flex-col gap-4" style="width: 25%;">
    <app-live-score></app-live-score>
    <app-trending></app-trending>
  </div>
</div>