<!-- signup.component.html -->
<div class="relative min-h-screen flex items-center justify-center bg-black bg-opacity-50">
    <!-- Background video -->
    <div class="absolute top-0 left-0 w-full h-full object-cover -z-10">
      <video id="backgroundVideo" autoplay loop muted  class="w-full h-full object-cover">
        <source src="https://res.cloudinary.com/dv28lfhwr/video/upload/v1737818260/sqolj5zsaicgdtazmfuq.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  
    <!-- Card -->
  <div class="bg-transparent bg-opacity-30 rounded-lg shadow-lg p-8 w-full max-w-md backdrop-blur-lg border-white border border-opacity-30">

    <!-- Login Form -->
    <form
      *ngIf="currentForm === 'login'"
      (ngSubmit)="onLogin()"
      class="ubuntu-medium"
    >
      <h2 class="text-3xl ubuntu-bold text-white font-semibold text-center mb-4">Login</h2>
      <div class="mb-4 ">
        <label for="loginEmail" class="block mb-1 text-gray-100">Email</label>
        <input
          id="loginEmail"
          type="email"
          [(ngModel)]="loginData.email"
          name="loginEmail"
          required
          class="w-full px-4 py-2 border rounded-lg bg-transparent border-white border-opacity-30 outline-none text-white "
        />
      </div>
      <div class="mb-4">
        <label for="loginPassword" class="block mb-1 text-gray-100">Password</label>
        <input
          id="loginPassword"
          type="password"
          [(ngModel)]="loginData.password"
          name="loginPassword"
          required
          class="w-full px-4 py-2 border rounded-lg bg-transparent border-white border-opacity-30 outline-none text-white"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-white text-black py-2 rounded-lg flex justify-center items-center outfit-medium text-lg"
      >
      <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
        <span *ngIf="!showSpinner">Log In</span>
      </button>
    </form>

    <!-- Signup Form -->
    <form
      *ngIf="currentForm === 'signup'"
      (ngSubmit)="onSignup()"
      class="ubuntu-medium"
    >
      <h2 class="text-3xl ubuntu-bold text-white text-center mb-4">Sign Up</h2>
      <div class="mb-4">
        <label for="signupName" class="block mb-1 text-gray-100">Name</label>
        <input
          id="signupName"
          type="text"
          [(ngModel)]="signupData.name"
          name="signupName"
          required
          class="w-full px-4 py-2 border rounded-lg bg-transparent border-white border-opacity-30 outline-none text-white"
        />
      </div>
      <div class="mb-4">
        <label for="signupEmail" class="block mb-1 text-gray-100">Email</label>
        <input
          id="signupEmail"
          type="email"
          [(ngModel)]="signupData.email"
          name="signupEmail"
          required
          class="w-full px-4 py-2 border rounded-lg bg-transparent border-white border-opacity-30 outline-none text-white"
        />
      </div>
      <div class="mb-4">
        <label for="signupPassword" class="block mb-1 text-gray-100">Password</label>
        <input
          id="signupPassword"
          type="password"
          [(ngModel)]="signupData.password"
          name="signupPassword"
          required
          class="w-full px-4 py-2 border rounded-lg bg-transparent border-white border-opacity-30 outline-none text-white"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-white text-black py-2 rounded-lg flex justify-center items-center outfit-medium text-lg"
      >
      <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
        <span *ngIf="!showSpinner">Sign Up</span>
      </button>
    </form>


    <!-- Conditional Text Below -->
    <div class="text-center mt-4">
      <p *ngIf="currentForm === 'login'" class="text-sm text-gray-50">
        Don't have an account? 
        <a
          href="javascript:void(0)"
          (click)="showForm('signup')"
          class="text-gray-50 hover:underline outfit-regular"
        >
          Create one now..
        </a>
      </p>
      <p *ngIf="currentForm === 'signup'" class="text-sm text-gray-100 outfit-regular">
        Already have an account? 
        <a
          href="javascript:void(0)"
          (click)="showForm('login')"
          class="text-gray-50 hover:underline outfit-regular"
        >
          Login now..
        </a>
      </p>
    </div>


</div>