section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  /* This will target the mat-spinner circle and make it white */
.mat-spinner circle {
  stroke: white !important;
}

/* To ensure the spinner's fill is also white */
.mat-spinner circle, .mat-spinner path {
  fill: white !important;
  stroke: white !important;
}
